<!-- ticket.html -->
<html>
<head>
  <style>
    body {
      font-family: Helvetica;
      padding: 30px;
      border: 2px dashed #999;
      width: 300px;
    }
    h2 {
      text-align: center;
      color: #111;
    }
    .info {
      margin-top: 20px;
      font-size: 14px;
    }
  </style>
</head>
<body>
  <h2>Ticket de Entrada</h2>
  <div class="info">
    <p><strong>Evento:</strong> {{event}}</p>
    <p><strong>Fecha:</strong> {{date}}</p>
    <p><strong>Folio:</strong> {{folio}}</p>
  </div>
</body>
</html>